%div.row
  %div.onecol
    &nbsp;
  %div.tencol.last
    %div#container
      %span#stratagem
%div.row
  %div.fourcol
    &nbsp;
  %div.twocol
    %div.btn.arrow
      %a#reload.lnk
        &rArr;
  %div.twocol.last
    %div.btn.quest
      %a#about.lnk
        ?

:javascript
  $('#reload').bind('click', function() {
    var stratagem = $('#stratagem')
    $.post(
      "#{url_for('/')}",
      '',
      function(INFO) {
        stratagem.data('fsr', INFO);
        set_stratagem(stratagem);
      },
      'json'
    );
  });
  $('#stratagem').each(function(i) {
    var stratagem = $('#stratagem');
    $.post(
      "#{url_for('/')}",
      '',
      function(INFO) {
        $(stratagem).data('fsr', INFO);
        set_stratagem(stratagem);
      },
      'json'
    );
  });
  function set_stratagem(stratagem){
    $('#stratagem').text(stratagem.data('fsr').gem);
  }
 
  
