%div.row
  %div.fourcol
  %div.fourcol.last
    %a#about.lnk
      %span.btn.quest
        ?
%div#dialog.dialog{:style=>'display:none'}
  %p{:style=>'font-size:1.2em;text-align:center'}
    Oblique stratagems are answers without questions.
    You provide the context.
  %p
    Totally inspired by 
    %a{:href=>'http://www.enoweb.co.uk/'}
      Brian Eno's 
    %a{:href=>'http://www.rtqe.net/ObliqueStrategies/'}
      Oblique Strategies
  %p
    The title comes from 
    %a{:href=>'http://www.youtube.com/watch?v=E7ISc-b-6CE#t=0m9s'}
      MGMT's song 
    about Mr. Eno, himself.
  %p{:style=>'margin-top:2em;text-align:center'}
    %u
      Click to close/reload

:javascript
  // dialog stuff
  $(document).ready(function(){
  $('#about').click(function(){
    showAbout();
  });
  $('#dialog').click(function(){
    $(this).dialog("close");
  });
  });

  function showAbout() {
    $('#dialog').dialog({
      modal: true,
      resizable: false,
      width: 500

    });
  }

  
