body {
  background-color: #f7f6f3;
  color: #1A2421;
  font-family: "Cabin";
  font-size: 1.5em;
  text-align:center;
  }
div{
  margin-top:auto;
}
div.btn {
  display:inline-block;
  width:3em;
}
.arrow {
  width:5px;
}
.quest {
  width:5px;
}
a.lnk{
  padding-top:.2em;
  padding-left:.8em;
  padding-right:.8em;
  padding-bottom:.2em;
  font-size:2em;
  display:inline-block;
}

a.lnk:hover {
  color: #f7f6f3;
  background-color:#1A2421;
  cursor:pointer;
}
div#content{
  margin-left:2.5%;
  margin-right:2.5%;
}
div#container
{
  margin-top:4%;
  margin-botton:6%;
  margin-left:auto;
  margin-right:auto;
  font-size:3.5em;
  height:3.5em;
  line-height:1.1em;
  display:inline-block;
}

.header {
  background-color: #21ABCD;
  display:block;
  }

@media handheld, only screen and (max-width: 480px) {

div#container
{
  margin-top:1%;
  margin-left:auto;
  margin-right:auto;
  font-size:2em;
  min-height:4em;
  line-height:1.1em;
  display:inline-block;
}

}
