body {
  background-color: #f7f6f3;
  color: #1A2421;
  font-family: "Cabin";
  font-size: 1.5em;
  text-align:center;
  }
div{
}
span.btn {
  display:inline-block;
  background-color:#55CBE6;
  border-radius:15px;
  border: .05em solid black;
}
.arrow {
  padding-top:.2em;
  padding-left:.6em;
  padding-right:.6em;
  padding-bottom:.2em;
}
.quest {
  padding-top:.2em;
  padding-left:.8em;
  padding-right:.8em;
  padding-bottom:.2em;
}
a.lnk{
  font-size:2em;
}
a.lnk:hover {
  cursor:pointer;
}
div#content{
  min-height:8em;
}
div#container
{
  margin-top:4%;
  margin-botton:6%;
  margin-left:auto;
  margin-right:auto;
  font-size:3.5em;
  height:3.5em;
  line-height:1.1em;
}

.header {
  background-color: #21ABCD;
  padding:.15em;
  }

@media handheld, only screen and (max-width: 480px) {

div#container
{
  margin-top:1%;
  margin-left:auto;
  margin-right:auto;
  font-size:2em;
  min-height:8em;
  line-height:1.1em;
  display:inline-block;
}
a.lnk:hover {
  color: #1A2421;
  background-color: #21ABCD;
}

}
