body {
  background-color: #f7f6f3;
  color: #1A2421;
  font-family: "Cabin";
  font-size: 1.8em;
  text-align:center;
  }
div{
}
span.btn {
  display:inline-block;
  background-color:#55CBE6;
  border-radius:15px;
  border: .1em solid black;
}
.arrow {
  padding-top:.1em;
  padding-left:.5em;
  padding-right:.5em;
  padding-bottom:.1em;
}
.quest {
  padding-top:.1em;
  padding-left:.7em;
  padding-right:.7em;
  padding-bottom:.1em;
}
a.lnk {
  padding:.5em;
}
a.lnk:hover {
  cursor:pointer;
}
div#content{
  min-height:10em;
}
div#container
{
  margin-top:4%;
  margin-botton:6%;
  margin-left:auto;
  margin-right:auto;
  font-size:3.5em;
  height:3.5em;
  line-height:1.1em;
  min-height:6em;
}

.header {
  background-color: #21ABCD;
  padding:.15em;
  }
.ui-dialog-titlebar { display:none; }
.dialog { 
  text-align:left;
  font-size:.8em;
}
.dialog p {
  margin-top:1em;
}

@media handheld, only screen and (max-width: 480px) {

div#container
{
  margin-top:1%;
  margin-left:auto;
  margin-right:auto;
  font-size:1.6em;
  min-height:8em;
  line-height:1.1em;
  display:inline-block;
}
a.lnk:hover {
  color: #1A2421;
  background-color: #21ABCD;
}

.dialog { 
  text-align:left;
  font-size:.6em;
  line-height:1em;
}
.dialog p {
}

}
